# ============================================
# Python Bytecode
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================
# Virtual Environments
# ============================================
venv/
env/
.venv/

# ============================================
# macOS System Files
# ============================================
.DS_Store

# ============================================
# IDE / Editor Settings
# ============================================
.idea/
.vscode/
*.iml

# ============================================
# Selenium / Webdriver Binaries
# ============================================
chromedriver
chromedriver.exe
geckodriver
geckodriver.exe
msedgedriver
msedgedriver.exe
*.log
logs/
log/

# ============================================
# Pytest Cache / Reports
# ============================================
.pytest_cache/
.cache/
pytestdebug.log

# ============================================
# Allure Reports & Results
# ============================================
allure-results/
allure-report/

# ============================================
# Test Execution Reports
# ============================================
reports/
report.html
*.html

# ====
